<div class = "CompanyTitle">
    <h3 class = "Title">FAIXA BRANCA</h3>
</div>    
<div class = "CompanySubTitle">
    <h5 class = "SubTitle">CONHEÇA UM POUCO DA NOSSA HISTÓRIA</h5>
</div>

<div class = "ServiceText">
    <p class = "Text">
        A Faixa Branca Terraplanagem desenvolve um trabalho de acordo com o planejamento que cada cliente necessita.<br> 
        Dentre os serviços, destacam-se construções de carreadores, curvas embutidas, sistematizações em geral,<br> 
        manutenções de canais de vinhaça - tanto tubulados de RPVC, como canais abertos -, construções civis,<br>
        como escavações de base, aberturas de valas e construções de tanques, entre outros.<br> 
        Atualmente também realizamos fretes para diversos tipos de maquinário.<br><br>

        A variedade de equipamentos, todos novos, modernos e revisados periodicamente por nossos mecânicos é outro<br>
        diferencial da Faixa Branca Terraplanagem. Aliado a isso, possuímos uma equipe técnica e qualificada<br> 
        pronta para atender qualquer emergência, evitando todo tipo de atraso nos serviços.<br><br>

        Para conhecer nossos equipamentos, basta clicar no ícone “Produtos” no menu acima.<br> 
        Já para esclarecer dúvidas e/ou solicitar um orçamento, entre em contato pela guia “Fale Conosco” ou<br>
        ligue para um dos nossos telefones: (67) 3441-4905, (67) 9 9965-9343 e (67) 9 9965-9342.<br>
    </p>

    <p class = "TextMark"><br><b>Missão</b><br></p>

    <p class = "Text">
        Ter um relacionamento transparente com todos os clientes, oferecendo-ljes opções e executando de maneira<br>
        sólida os serviços contratados. Fazer com que os colaboradores sintam-se satisfeito em estar junto a empresa,<br>
        desta forma impactando esse índice à perfeita execução dos serviços.
    </p>

    <p class = "TextMark"><br><b>Visão</b><br></p>

    <p class = "Text">
        Ser referência no ramo de locações de maquinas e equipamentos pesados, impactando sempre a confiabilidade em<br>
        cada contrato novo ou renovado. Buscar a excelência no que se é feito, tanto no ambiente interno quanto<br>
        externo. Trabalhar com ética e princípios para prolongar sempre a vida da empresa.
    </p>

    <p class = "TextMark"><br><b>Valores</b><br></p>

    <p class = "Text">
        * Respeito ao meio ambiente<br>
        * Excelência no atendimento<br>
        * Qualificação continuada<br>
        * Profissionalismo<br>
        * Ações com foco na sustentabilidade<br>
        * Responsabilidade social<br>
    </p>
</div>