<h3 class = "Title">FALE CONOSCO</h3>
<h5 class = "SubTitle">ENTRE EM CONTATO CONOSCO POR E-MAIL OU TELEFONE</h5>

<p class = "ContactUs">
    Estamos a sua disposição para esclarecer dúvidas, receber sugestões, elogios ou críticas.<br> 
        Utilize o formulário abaixo para nos enviar uma mensagem.<br>
    faixabranca@faixabranca.com.br / (67) 3441-4905, (67) 9 9965-9343 e (67) 9 9965-9342.<br>
</p>

<%= render 'form' %>


<div class = "ClientStartSpeak">
    <div class = "ClientList">
        <ul class = "ClientsSpeak">
            <% @client.each do |item|  %>
                <li>
                    <div class = "ClientImgMod">
                        <div class = "ClientImg">
                            <%= image_tag(item.image_url)%>
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>
    </div>
</div>
