// Place all the styles related to the client controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ClientsTitle{
    font-size: 19px;
    margin: 7px;
    margin-top: 40px;
}
.ClientsSubTitle{
    margin-bottom: 30px;
    font-size: 15px;
    color: lightgrey;
}

.ClientStartClient{
    margin-bottom: 100px;
}