// Place all the styles related to the company controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.Title{
    margin: 7px;
    margin-top: 30px;
}
.SubTitle{
    font-size: 15px;
    color: lightgrey;
}

.ServiceText{
    position: relative;
    left: 170px;

    margin-top: 40px;
}
.Text {
    font-size: 15px;
    font-weight: 500;

    color: lightgray;
}

.TextMark{
    font-size: 16;
    font-weight: 600;

    color: lightgrey
}

.ClientStartCompany{
    margin-top: 100px;
}
