// Place all the styles related to the service controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.ServiceTitle{
    margin: 7px;
    margin-top: 40px;
}
.ServiceSubTitle{
    margin-bottom: 30px;
    font-size: 15px;
    color: lightgrey;
}

.ClientStartService{
    margin-top: 100px;
}