// Place all the styles related to the speak controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.Field{
    position: relative;
    width: 200px;
}

.form__input{
    background-color: lightgray;
    width: 300px;
    border: none;
}

.form_bottom{
    background-color:  rgb(223, 114, 24) !important;
}